body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between; /* Logoyu sola, menü öğelerini sağa alır */
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    flex: 1; /* Logonun sola hizalanmasını sağlar */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: border-bottom 0.3s;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::after, nav ul li a.active::after {
    transform: scaleX(1);
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    background-color: #fff;
}

.intro h1 {
    font-size: 48px;
    color: #333;
}

.intro h1 span {
    color: #FF4500;
}

.intro p {
    font-size: 24px;
    color: #555;
    margin: 20px 0;
}

.intro p span {
    color: #FF4500;
}

.intro button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: #007BFF; /* Düğmenin arka plan rengini kaldır */
    color: white; /* Yazı rengini mavi yap */
    cursor: pointer;
    position: relative;
    transition: border-bottom 0.3s;
    
}

.intro button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.intro button:hover::after {
    transform: scaleX(1);
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons img {
    width: 40px;
}

.profile-pic img {
    width: 400px;
    border-radius: 50%;
}

/* Mobile Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        width: 100%;
        display: block;
    }

    .main-section {
        flex-direction: column;
        padding: 50px 20px;
    }

    .intro h1 {
        font-size: 36px;
        text-align: center;
    }

    .intro p {
        font-size: 18px;
        text-align: center;
    }

    .intro button {
        width: 100%;
        font-size: 16px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .profile-pic img {
        width: 300px;
        margin-top: 20px;
    }
}
